/* Global */
*, *::before, *::after {
	box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
    background: #fff;
    color: #3d3d3d;
    line-height: 1.7;
    font-family: 'Poppins', Sans-Serif;
    font-size: 18px;
  }
  container{
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 20px;
  }
  .page-title{
    position: relative;
    margin: 50px 0 50px 0;
    font-family: 'Abril Fatface', Cursive;
    font-size: 36px;
}
.page-footer{
    position: relative;
    margin: 50px 0 50px 0;
  font-family: 'Poppins', Sans-Serif;
  font-style: italic;
  font-size: 14px;
}